.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 880px;
  margin: 40px auto 50px;
}

@media screen and (max-width: 470px) {
  .profile {
    flex-direction: column;
    margin-bottom: 36px;
  }
}
