.root {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  text-rendering: optimizeLegibility;
  min-width: 320px;
  margin: 0 auto;
  background: #000000;
  color: white;
}

/*
*,*::before,*::after {outline: 1px solid red}
*/
