.popup__field-name {
  width: 358px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid #000000;
  padding-bottom: 13px;
  margin: 0 auto;
}
